.course {
    display: flex;
    flex-wrap: wrap;

    flex-direction: column;

    justify-content: center;
    align-items: stretch;
}

/* ---------------- GO HOME ----------------- */
.course-go-home {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.course-go-home-button {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.3;

    background-color: var(--accent);
    color: var(--white);

    border-radius: 5px;

    padding: 10px 20px;

    letter-spacing: 1px;

    transition: opacity 0.2s ease-in;
}

.course-go-home-button:hover {
    opacity: 0.8;
}

.course-go-home-button:active {
    position: relative;
}


/* ---------------- TITLE ----------------- */
.course-preview-title {
    padding: 20px 0 0 0;

    font-size: calc(30px + 1vw);
    font-weight: 700;
    line-height: 1.3;

    color: var(--title-1);
}

/* ---------------- VIDEO ----------------- */
.course-preview-media {
    position: relative;

    padding-bottom: 55%;
    height: 0;
}

.course-preview-video-title {
    position: absolute;

    top: calc(10px + 2vw);
    left: 20px;

    font-size: calc(14px + 1vw);
    font-weight: 500;
    line-height: 1.1;

    color: var(--black);
    text-shadow: -1px 0 var(--white), 0 1px var(--white), 1px 0 var(--white), 0 -1px var(--white);

    z-index: 10;
}

.course-preview-video-pip-button {
    position: absolute;

    top: calc(25px + 2vw);
    right: 20px;

    width: calc(25px + 2vw);
    height: calc(25px + 2vw);

    background-image: url("./../images/picture-in-picture.svg");
    background-size: cover;

    z-index: 15;
}


.course-preview-media video {
    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    object-fit: cover;

    z-index: 5;
}

/* ---------------- COURSE DETAILS ----------------- */
.course-preview-detail {
    padding: 0 20px
}


/* ---------------- Date and rating ----------------- */
.course-preview-detail-header {
    display: flex;
    flex-wrap: wrap-reverse;

    align-items: center;
    justify-content: space-between;

    padding: 10px 0 0 0;

    font-size: calc(14px + 1vw);
    font-weight: 500;
    line-height: 1.1;

    color: var(--black);
}

.course-preview-detail-header>*>span {
    font-size: calc(10px + 1vw);
    font-weight: 400;
}

.course-preview-detail-header-rating {
    display: flex;

    align-items: center;
    justify-content: center;
}

/* ---------------- DESCRIPTION ------------------ */
.course-preview-detail-description {
    padding: 20px 0 0 0;

    color: var(--black);
}

.course-preview-detail-description-title {
    font-size: calc(22px + 1vw);
    font-weight: 500;
    line-height: 1.3;
}

.course-preview-detail-description-text {
    font-size: calc(16px + 1vw);
    font-weight: 400;
    line-height: 1.3;
}

/* ---------------- SKILLS ------------------ */
.course-preview-detail-skills {
    padding: 20px 0 0 0;

    color: var(--black);
}

.course-preview-detail-skills-title {
    font-size: calc(22px + 1vw);
    font-weight: 500;
}

.course-preview-detail-skills-list {
    font-size: calc(16px + 1vw);
    font-weight: 400;
    line-height: 1.3;

    padding: 0 0 0 5px
}

.course-preview-detail-skills-list li {
    list-style-position: inside;
    list-style-type: circle;
}


/* ------------ Video timea and lessons count -------------- */
.course-preview-detail-footer {
    display: flex;
    flex-wrap: wrap;

    align-items: center;
    justify-content: space-between;

    padding: 30px 0 0 0;

    font-size: calc(14px + 1vw);
    font-weight: 500;
    line-height: 1.1;

    color: var(--black);
}

.course-preview-detail-footer>*>span {
    font-size: calc(10px + 1vw);
    font-weight: 400;
}

.course-preview-detail-footer-duration {}

.course-preview-detail-footer-lessons {}


/* ---------------- LESSONS LIST ------------------ */
.course-lessons {
    padding: 30px 0 0 0;
}

.course-lessons-title {
    text-align: center;

    font-size: calc(22px + 1vw);
    font-weight: 600;
    line-height: 1.5;

    color: var(--black);
}

.course-lessons-list {
    padding: 20px 0 0 0;
}

.lesson {
    padding: 5px 20px;

    border-top: 1px solid var(--black);
}

.lesson:last-child {
    border-bottom: 1px solid var(--black);
}

.lesson-status-unlocked:hover {
    cursor: pointer;

    background: var(--gray);
    color: var(--black);
}

.lesson-status-locked {
    opacity: 0.8;
    color: var(--gray);

    pointer-events: none;
}

.lesson-title {
    font-size: calc(16px + 1vw);
    font-weight: 500;
    line-height: 1.1;
}

.lesson-time {
    padding: 10px 0 0 0;

    font-size: calc(8px + 1vw);
    font-weight: 500;
    line-height: 1.1;
}

/* ---------------------SKELETON---------------------- */

.course-go-home-button-skeleton {
    width: 130px;
    height: 50px;
}

.course-preview-title-skeleton {
    margin: 20px 0 0 0;
    width: 100%;
    height: 70px;
}

.course-preview-video-skeleton {
    margin: 20px 0 0 0;
    width: 100%;
    height: calc(200px + 30vw);
}

.course-preview-detail-header-skeleton {
    margin: 20px 0 0 0;
    width: 100%;
    height: 30px;
}

.course-preview-detail-title-skeleton {
    margin: 20px 0 0 0;
    width: 180px;
    height: 50px;
}

.course-preview-detail-text-skeleton {
    margin: 5px 0 0 0;
    width: 100%;
    height: 30px;
}

.course-preview-detail-footer-skeleton {
    margin: 20px 0 0 0;
    width: 100%;
    height: 30px;
}