@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap');

:root {
    /* Colors */
    --blackpure: #000;
    --black: #171718;
    --black-border: #26292d;
    --white: #ffffff;
    --purple: #5c62ec;
    --gray: #cecec681;

    --text-color: var(--black);

    --accent: var(--purple);
    --title-1: var(--accent);
    --subTitle-1: var(--accent);

    --course-card-text: var(--black);

    --page-bg: var(--white);
    --course-card-bg: var(--white);

    --box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.25);
}

html,
body {
    min-height: 100vh;

    font-family: 'DM Sans', sans-serif;
    letter-spacing: -0.5px;

    /* Light mode */
    background-color: var(--page-bg);
    color: var(--text-color);

    scroll-behavior: smooth;
}

#root {
    min-height: 100vh;
}

.App {
    display: flex;
    flex-direction: column;

    min-height: 100vh;
}

/* -------------- General ------------------ */

.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1200px;
}

.none {
    display: none !important;
}

.section {
    padding: 30px 0;
}

.title-1 {
    font-size: 60px;
    font-weight: 700;
    line-height: 1.3;
    color: var(--title-1);
    text-align: center;
}

.subTitle-1 {
    padding: 10px 0 0 0;

    font-size: 18px;
    font-weight: 400;
    line-height: 1.3;

    color: var(--subTitle-1);
    text-align: center;
}

/* ------------- SKELETON --------------------- */
.skeleton {
    position: relative;
    display: inline-block;
    border-radius: 10px;
    overflow: hidden;
    background-color: #DDDBDD;
}

.skeleton::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0));

    animation: shimmer 2s infinite;
    content: '';
}


@keyframes shimmer {
    100% {
        transform: translateX(100%);
    }
}