.card {
    display: flex;
    flex-direction: column;

    max-width: 500px;

    background-color: var(--course-card-bg);

    box-shadow: var(--box-shadow);

    border-radius: 10px;
}

.card>*:not(:first-child) {
    padding: 0 30px 20px 30px;
}

/* ----------------- VIDEO ----------------- */
.card-media-area {
    position: relative;

    padding-top: 50%;
}

.card-media-area video {
    position: absolute;

    content: "";

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    object-fit: cover;

    border-radius: 10px 10px 0 0;
}

/* ------------- ABOUT -------------------- */
.card-info-area {
    margin: 20px 0 0 0;
    flex: auto;
}

/* ------------- ABOUT header -------------------- */
.card-info-top {
    display: flex;
    flex-wrap: wrap-reverse;

    justify-content: space-between;
    align-items: center;

    gap: 20px;

    font-weight: 500;
    font-size: 20px;
    color: var(--course-card-text);
}

.card-info-top .lessons {}

.card-info-top .rating {
    display: flex;
    align-items: center;
}

/* ------------- ABOUT title -------------------- */
.card-info-title {
    padding: 20px 0 0 0;

    font-weight: 700;
    font-size: 28px;
    line-height: 1.3;
    color: var(--course-card-text);
}

/* ------------- ABOUT decription -------------------- */
.card-info-description {
    padding: 5px 0 0 0;

    font-weight: 400;
    font-size: 20px;
    line-height: 1.1;
    color: var(--course-card-text);
}

/* ------------- ABOUT skills -------------------- */
.card-info-skills {
    padding: 20px 0 0 0;
    color: var(--course-card-text);
}

.card-info-skills h4 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.4;
}

.card-info-skills ul {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.4;
}

.card-info-skills ul li {
    list-style-position: inside;
    list-style-type: circle;
}

/* ------------- ABOUT bottom button -------------------- */
.card-action-bottom {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    padding: 20px 0 0 0;
}

.card-action-link {
    display: inline-block;
    height: 50px;

    padding: 12px 28px;

    border-radius: 5px;

    background-color: var(--accent);
    color: var(--white);

    letter-spacing: 1px;

    font-size: 20px;
    font-weight: 500;

    transition: opacity 0.2s ease-in;
}

.card-action-link:hover {
    opacity: 0.8;
}

.card-action-link:active {
    position: relative;
}

/* ---------- SKELETON ------------ */
.card-skeleton {
    max-width: 500px;
    height: 600px;
}